{% extends 'base.html' %}

{% block contents %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=B612+Mono|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'specific.css' %}" type="text/css">
    
    <title>그 옛날 풍경</title>
</head>
<body>
    <!-- NAVBAR -->
    
        <!-- header -->
        <header class="w3-display-container w3-content w3-wide" style="max-width: 1500px;">
            <img class="w3-image" src="https://cdn.pixabay.com/photo/2017/07/10/06/03/korean-food-2489206_1280.jpg" alt="군산해물탕" width="100%">
            <div class="w3-display-middle w3-margin-top w3-center">
                <h1 class="w3-xxlarge w3-padding w3-black w3-opacity-min w3-text-white">그 옛날 풍경</h1>
            </div>
    </header>
    <main>
        
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                <h2 class="w3-wide w3-center">그 옛날 풍경</h2>
                <p class="w3-opacity w3-center"><i>전통, 민속 주점</i></p>
                <div class="w3-row w3-padding-32">
                  <div>
                    <i class="fa fa-map-marker" style="width:30px"></i> 대전 유성구 대학로 141<br>
                    <i class="fa fa-phone" style="width:30px"></i> Phone: 042-825-1447<br>
                    <i class="fa fa-envelope" style="width:30px"> </i>관리자의 권한이 필요합니다.<br>
                    <i class="fa fa-clock-o" style="width:30px"></i>매일 17:00 - 02:00
                  </div>

                  <!-- 메뉴 -->
                  <!-- Menu Container -->
            <div class="w3-container" id="menu">
                    <div class="w3-content" style="max-width:700px">
                
                    <h3 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">THE MENU</span></h3>
                    
                    <div class="w3-row w3-center w3-card w3-padding">
                        <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
                        <div class="w3-col s6 tablink">Eat</div>
                        </a>
                        <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
                        <div class="w3-col s6 tablink">Drink</div>
                        </a>
                    </div>
                
                    <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
                        <h5>전류</h5>
                        <p class="w3-text-grey">부추전, 감자전, 김치전, 녹두전, 참치전, 삼색전 6.0 </p><br>
                    
                        <h5>계란류</h5>
                        <p class="w3-text-grey">야채 계란말이, 치즈 계란말이, 계란찜 8.0</p><br>
                    
                        <h5>찌개류</h5>
                        <p class="w3-text-grey">계란탕, 초계탕, 순두부찌개, 부대찌개, 모듬 어묵탕 12.0</p><br>
                    
                        <h5>별미</h5>
                        <p class="w3-text-grey">주먹밥, 도시락, 라면, 수제비 4.0</p><br>
                    
                        <h5>맥주 안주류</h5>
                        <p class="w3-text-grey">황도, 먹태, 소세지구이 4.0 </p>
                    </div>
                
                    <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
                        <h5>칵테일 소주</h5>
                        <p class="w3-text-grey">레몬, 포도, 파인, 복숭아, 키위, 딸기, 깔라만시 9.0</p><br>
                    
                        <h5>칵테일 막걸리</h5>
                        <p class="w3-text-grey">포도, 파인, 복숭아, 키위, 딸기, 멜론 6.0</p><br>
                    
                        <h5>맥주</h5>
                        <p class="w3-text-grey">카스, 맥스, 밀러, 하이네켄 4.0</p><br>
                    
                        <h5>소주</h5>
                        <p class="w3-text-grey">참이슬, 처음처럼, 이제우린, 한라산 4.0</p><br>
                    
                        <h5>막걸리</h5>
                        <p class="w3-text-grey">꿀, 검은콩, 알밤, 크림 4.5</p>
                    </div>  
                    </div>
                </div>
                <script>
                        // Tabbed Menu
                        function openMenu(evt, menuName) {
                          var i, x, tablinks;
                          x = document.getElementsByClassName("menu");
                          for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                          }
                          tablinks = document.getElementsByClassName("tablink");
                          for (i = 0; i < x.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
                          }
                          document.getElementById(menuName).style.display = "block";
                          evt.currentTarget.firstElementChild.className += " w3-dark-grey";
                        }
                        document.getElementById("myLink").click();
                        </script>

                 
                  <div class="w3-container" id="where" style="padding-bottom:32px;">
                        <div class="w3-content" style="max-width:700px">
                          <h3 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Review</span></h3>
                          <p><strong>솔직한 후기를 적어주세요!</strong></p>
                          <form action="{% url 'review_create' %}" id="reservation-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="성명" name="name"></p>
                            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="가게 이름" name="store_name"></p>
                            <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="인원수" name="guest_count"></p>
                            <p><textarea class="w3-input w3-padding-16 w3-border" name="body" style="height:300px;" placeholder="리뷰를 적어주세요. 최대 1000자 이내"></textarea></p>
                            <p class="w3-center"><button class="w3-button w3-black" type="submit">WRITE</button></p>
                          </form>
                        </div>
                      </div>
                  
    </main>
    
    
</body>
{% endblock %}
</html>