{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>궁동에서</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static 'signup.css' %}" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="{% url 'home' %}" class="w3-bar-item w3-button">궁동에서</a>
            <div>
            <input class="w3-display-middle" type="text" placeholder="Search.." id="searchbar">
            </div>
            {% if user.is_authenticated %}
            <ul class="nav-ul">
                <li> 환영합니다. {{ user.username }} 님!</li>
                <li><a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                    <form id="logout" method="POST" action="{% url 'logout' %}">{% csrf_token %} <input type="hidden"></form></li> 
                <!-- float links to right -->
            {% else %}
                <div class="w3-right w3-hide-small w3-B612">
                    <a href="{% url 'login' %}" class="w3-bar-item w3-button">LOG IN</a>
                    <a href="{% url 'signup' %}" class="w3-bar-item w3-button">Sign Up</a>
                </div>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% if error %}
    {{ error }}
    <br>
    <br>
    {% endif %}
<body>
    <div class="containter-fluid">
    <div class="row">
            <form class="form-container" method="POST" action="{% url 'signup' %}">
            <h1>Sign Up!</h1>
            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="" style="border-color:black">
            <br>
            Password:
            <br>
            <input name="password1" type="password" value="" style="border-color:black">
            <br>
            Confirm Password:
            <br>
            <input name="password2" type="password" value="" style="border-color:black">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Sign Up!">
        </form>
    </div>
    <div class="footer">
            <footer class="w3-center w3-black w3-opacity-min w3-padding-16 w3-B612">
                <p>All things are created by YangwonKim. <br></p>
                </footer>
    </div>
</body>
</html>
        
